@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {

    margin: 0;
    padding: 0;

}
:root {

    --primary-color: #007af3;
}
body{

    background-color: white;
    margin: 0;
    font-family: 'Poppins';

}

.nav-bar {

    background-color: #f7f5f5;
    padding: 1em;

    .logo {

        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.25rem;
    }

    span {

        color: var(--primary-color);
    }

    nav {

        display: none;

    }

    .container {

        display: flex;
        place-content: space-between;
    }

    .mobile-menu {

        cursor: pointer;
    }

}

a {
    color: rgb(27, 25, 25);
}

li {
    list-style-type: none;
}

section {
    padding: 4em 3em;
}

.hero {

    text-align: center;

}

.left-col {

    .subhead {

        text-transform: uppercase;
        font-weight: bold;
        color: rgb(88, 87, 87);
        letter-spacing: .3em;
    }

    h1 {

        font-size: rem;
        line-height: 1.3em;
        padding-top: .5em;
    }

    .primary-cta {

        background: var(--primary-color);
        text-decoration: none;
        padding: .5em 2em;
        margin: 1em 2em;
        font-size: 1.25rem;
        display: inline-block;
        font-weight: bold;
        color: white;
        border-radius: 5em;

        &:hover {

            // padding: .6em 2em;
            // font-size: 1.3rem;
            border: 2px solid #eff3f7;
            box-shadow: 2px 2px #132f4b;

        }

    }
    
    .watch-video-cta {

        
        display:flex;
        margin-top: .75em;
        margin-right: .8em;
        justify-content: center;

        img {
            display: block; 
        }

    }
}

.right-col {

    .illustration{

        margin-top: 3em;
        height: 250px;

    }

    .copyright {

        font-size: .5rem;
        display: block;
        text-align: center;
    }
}


.feature-section {

    background-color: rgb(8, 8, 59);
    color:white;

}

ul.feature-list {

    margin: 0;
    padding: 0 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li{

        font-size: 1.1rem;
        margin-bottom: 2em;
        margin-left: 2em;
        position: relative;
        

        &::before {

            content: '';
            position: absolute;
            margin-left: -2.5em;
            margin-top: -.1em;
            width: 30px;
            height: 30px;
            background-image: url('../img/check.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

}

.testimonial-section {

    background: var(--primary-color);
    color: white;

    h1 {

        display: block;
        padding: 1em;
        margin: 1em;
    }

    li{

        text-align: center;
        background-color: #026dd8;
        padding: 1em 1em;
        width: 80%;
        margin: 0 auto 3em auto;
        border-radius: 1.5em;

        img {

            height: 100px;
            width: 100px;
            border: solid #026dd8;
            border-radius: 50%;
            margin-top: -4em;
            margin-bottom: 2.5em;

        }

        button {

            a {
                text-decoration: none;
                color: #007af3;
            }

            padding: 1em 2em;
            color: #007af3;
            margin: 1em 1em;
            border-radius: 2em;

        }
    }
}


.about-section {

    background: var(--primary-color);
    color: white;

    li{

        text-align: center;
        background-color: #026dd8;
        padding: 1em 1em;
        width: 80%;
        margin: 0 auto 3em auto;
        border-radius: 1.5em;

        img {

            height: 100px;
            width: 70px;
            border: solid #026dd8;
            border-radius: 50%;
            margin-top: -4em;
            margin-bottom: 2.5em;

        }

        button {

            a {
                text-decoration: none;
                color: #007af3;
            }

            padding: 1em 2em;
            color: #007af3;
            margin: 1em 1em;
            border-radius: 2em;

        }
    }
}


.contact-left {

    label{

        display: block;
        margin: .5em 0;

    }

    input, textarea {

        width: 100%;
        padding: .5em;
        border: 2px solid gray;
        border-radius: .3em;

        &:hover {

            border: 1px solid #026dd8;
            box-shadow: 2px 2px #83bffa;
        }

    }

    button {
        width: 50%;
        background: var(--primary-color);
        color: white;
        margin: 1em 1em 3em .75em;
        padding: .75em 2em;
        border: none;
        border-radius: 1.5em;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: .1em;
        display: inline-block;
        cursor: pointer;

    }
}

iframe {

    width: 100%;
    height: 50%vh;
}

nav.menu-btn {

    display: block;

}

nav {

   top: 0;
   position: fixed;
   right: 0;
   background-color: #20272e;
   height: 100vh;
   width: 66%;
   z-index: 5;

   ul {

    margin-top: 5em;

        li {
    
            text-align: center;
            margin: 2em 0;

                a{
                    color: white;
                    text-decoration: none;
                    display: block;

                    &:hover {

                        font-weight: bold;
                    }

                }
        }
   }


    .close-menu {

        height: 30px;
        width: 20px;
        float: right;
        margin-right: .5em;
        margin-top: .5em;
        cursor: pointer;
        
    }
}

@media only screen and (min-width: 768px) {

    .mobile-menu , .close-menu {

        display: none;

    }

    .nav-bar .container {

        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .nav-bar nav {

        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {

            display: flex;
            padding: 0 3em;

        }

        a {

            color: black;
            font-size: 1.1rem;
            padding: 1.1em 1em;
    
        }

        a.premium-cta {

            color: var(--primary-color);
            height: 20%;
            margin-top: .5em;
            padding-top: .30em;
            padding-bottom: 1em;
            border: 3px solid var(--primary-color);
            border-radius: 2em;

            &:hover {

                color: white;
                background-color: var(--primary-color);
            }
            
            
        }

        ul.primary-class {

            padding-right: 1em;
            margin: -3em;
    
        }
        ul.secondary-class {

            margin: -3em;
            
        }
    }


}

@media only screen and (min-width: 1080px){

    .container {

        width: 1080px;
        margin: 0 auto;
    }

    section {

        padding: 5em 4em;

    }

    .hero .container {

        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            
            margin: 5em 2em;

            h1 {

                font-size: 3.5rem;
                
            }
        }

        .right-col img {

        margin-right: 1em;
        height: 350px;

        }

        .hero-cta {

            display: flex;

            .primary-cta {

                margin-left: .25em;
                margin-right: 1em;
            }

            .watch-video-cta {

                margin-top: 2em;
                font-size: 1.25;

                .hero-img {
                    
                    height: 30px;

                }
            }
        }

    }

    .testimonial-section ul {

        display: flex;

        li {

            margin: 0 1em;

        }
    }
    

    .contact-section {

        position: relative;

        .container {

            display: flex;

        }  
    }

    .contact-right {

        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
    }

    iframe {

        height: 100%;
    }

}